{
  "root": true,
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "react-app"
  ],
  "plugins": ["flowtype"],
  "parser": "babel-eslint",
  "globals": {
    "global": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "func-names": ["error", "as-needed"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-param-reassign": [
      "error",
      { "props": false }
    ],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to", "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }]
  }
}
