{
  "root": true,
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "react-app"
  ],
  "plugins": ["flowtype"],
  "parser": "babel-eslint",
  "globals": {
    "global": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "func-names": ["error", "as-needed"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-param-reassign": [
      "error",
      { "props": false }
    ]
  }
}
