{
  "root": true,
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "plugins": ["flowtype"],
  "parser": "babel-eslint",
  "globals": {
    "global": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "func-names": ["error", "as-needed"]
  }
}
